* {
  margin: 0;
  padding: 0;
}

body {
  background: #343d46;
  overflow: hidden;
}

.search-container {
  margin: 15px auto;
  overflow: hidden;
  text-align: center;
}

.label-input {
  width: 60%;
}

.label-input:before {
  content: "🔍";
  position: relative;
  left: 30px;
  z-index: 2;
}

.search-container input {
  width: 70%;
  font-size: 20px;
  padding-left: 35px;
  border-radius: 10px;
  border: solid transparent;
  background-color: #fff;
}

.search-container input:focus {
  background-color: #bebebe;
  border: 2px solid #bebebe;
  outline: none;
}

.video-section {
  display: flex;
  justify-content: center;
  height: 70vh;
  /* overflow-y: hidden; */
}

.video-info {
  display: grid;
  grid-template-rows: max-content max-content max-content max-content auto;
  grid-template-columns: 40vh;
  padding: 10px 0;
  margin: 10px 40px;
  border-radius: 10px;
  background-color: #CED8E1;
  text-align: center;
  animation: zoomIn .7s linear;
}

.video-info:hover {
  background-color: #F97493;
  box-shadow: 0 0 5px 3px #792A40;;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: .3s;
  cursor: grab;
}

.video-info header {
  position: relative;
}

.video-info header img {
  width: 40vh;
}

.video-info header a {
  display: grid;
  position: absolute;
  top: 30%;
  max-height: 69%;
  width: 100%;
  overflow: hidden;
  background-color: #6E3795;
  text-decoration: none;
  font-size: 3vh;
  font-family: sans-serif;
  color: #fff;
}

.video-info header a:hover {
  color: #ADDFE6;
  cursor: pointer;
  transition: .3s;
}

.video-info div {
  margin: 1vh;
}

.video-info div i {
  margin: 0.5vh 0.5vh 0.5vh 2vh;
  font-size: 3.5vh;
  opacity: 0.8;
  float: left;
}

.video-info div span {
  font-size: 3vh;
  font-weight: 700;
  font-family: sans-serif;
}

.description {
  padding: 5px;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 2.7vh;
}

.page-nav {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.page-nav button {
  width: 4vh;
  height: 4vh;
  margin: 0 5px;
  font-size: 1.5vh;
  font-weight: 800;
  border-radius: 50%;
  color: #000;
  border: solid #fff;
  background-color: #fff;
}

.page-nav button.active,
.page-nav button:hover {
  color: #fff;
  background-color: #323232;
  cursor: pointer;
}

.popup {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25%;
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #e3e3e3;
  background: #323232;
  border-radius: 50%;
  font-size: 20px;
  line-height: 35px;
  box-shadow: 0 0 50px #4495cc;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
